/* Estrutura Site */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a:link, a:active, a:visited{
    color: #227115;
    text-decoration: none;
}

a:hover{
    color: #4682B4 ;
}

/* Logo */
.navbar img {
    width: 40px;
}

.navbar h1{
    text-shadow: 0 0 5px #4682B4;
    color: #fff;
    font-size: 1em;
}

/* Navegação */
nav ul li a:link, nav ul li a:active, nav ul li a:visited{
    color: #4682B4;
}

.dropdown-item:hover {
    color: rgb(2, 66, 119);
}

nav ul li a:hover, a:link.atual-topo , a:active.atual-topo , a:visited.atual-topo{
    border-bottom: 1px solid #535858;
}

/* Conteudo */
article{
    margin-bottom: 10px;
    padding: 10px;
}

.posts {
    text-align: center;
}

.posts p{
    line-height: 1.5em;
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 1em;
}

.posts-fotos p {
    text-align: center;
}

.posts h4{
    font-size: 1.1em;
    color: #4682B4;
    text-transform: uppercase;
    margin-bottom: 5px;
}

iframe.video{
    width: 80%;
    max-width: 700px;
    min-height: 500px;
}

article img{
    width: 100%;
    max-width: 600px;
}

#mapa{
    width: 100%;
    max-width: 700px;
    height: 500px;
    
}

form {
    text-align: left;
}

/* imagens da pagina laboratorios */
.laboratorios img{
    max-width: 300px;
}

/* Desenvolvedor */
#img_desenvolvedor{
    width: 30%;
    margin-bottom: 20px;
}

/* Rodape */
footer{
    background: #2A271E;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    iframe.video{
        min-height: 200px;
    }

    #mapa{
        height: 300px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    iframe.video{
        min-height: 300px;
    }

    #mapa{
        height: 400px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    iframe.video{
        min-height: 400px;
    }
}