/* Estrutura Site */
*{
    margin: 0;
    padding: 0;
}

body{
    font: 1em, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #f4f2ec;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

a:link, a:active, a:visited{
    color: #227115;
    text-decoration: none;
}

a:hover{
    color: #4682B4 ;
}

/* Cabeçalho */

/* Logo */
header{
    background: #f4f2ec url(../img/fundo.png);
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo h1{
    text-shadow: 0 0 8px #4682B4;
    font-size: 1.8em;
    color: #fff;
}

#lateral-topo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Barra de pesquisa */
#pesquisa{
    margin-bottom: 20px;
}

#pesquisa input{
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    padding-left: 10px;
}

#pesquisa button{
    border: none;
    background: transparent;
}

#pesquisa i{
    padding: 5px;
    color: #fff;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.3s;
}

#pesquisa i:hover{
    color: #4682B4;
    cursor: pointer;
    border-color: #4682B4;
    background: #fff;
    box-shadow: 0 0 5px #4682B4;
}

/* Navegação */
nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    margin: 8px;
}

nav ul li a:link, nav ul li a:active, nav ul li a:visited{
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover, a:link.atual-topo , a:active.atual-topo , a:visited.atual-topo{
    color: #4682B4;
    border-bottom: 1px solid #535858;
}

/* Conteudo */
#principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    max-width: 820px;
    margin-bottom: 10px;
}

article{
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(175, 175, 175);
}

article p{
    text-align: justify;
    margin-bottom: 10px;
}

.posts h4{
    color: #4682B4;
    text-transform: uppercase;
    margin-bottom: 5px;
}

iframe.video{
    width: 100%;
    min-height: 300px;
}

ol.lista-ord-conteudo{
    margin-left: 15px;
}

#atualizacoes fieldset{
    padding: 10px;
}

#nome, #email{
    height: 20px;
    width: 200px;
}

#atualizacoes input{
    margin-bottom: 10px;
}

article img{
    width: 100%;
}

/* imagens da pagina laboratorios */
#laboratorios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#laboratorios img{
    max-width: 300px;
}


/* CONTATOS */
#link-contato a{
    margin-left: 20px;  
}

p iframe{
    width: 100%;
    min-height: 300px;
}

/* Lateral */
aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 220px;
}

aside ul{
    list-style: none;
    background: #fff;
}

aside li{
    border-bottom: 1px solid #535858; 
    transition: background 0.5s;
}

aside ul li a:link, aside ul li a:active, aside ul li a:visited{
    padding: 8px;
    color: #4682B4;
    display: block;
    text-transform: uppercase;
    transition: padding-left 0.3s;
}

aside ul li a:hover, a:link.atual-lateral, a:active.atual-lateral , a:visited.atual-lateral{
    padding-left: 20px;
    color: #f4f2ec;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
    background: url(../img/marcador.png) no-repeat left center;
}

/* Rodape */
footer{
    background: #49433f;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: auto;
}

